<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="66">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/" class="linha">
                <i class="material-icons icone">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="colaboradores">
                <i class="material-icons icone">
                    people
                </i>
                Colaboradores
            </a>
            <a mat-list-item routerLink="contato">
                <i class="material-icons icone">
                    contacts
                </i>
                Contato
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" fixedTopGap="66">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>