.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right:15px;
    padding-left:15px;
    }
    .clayton{
       
        font-weight: 300;
        color:black;
    }