.header{  
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    z-index:15;
    box-shadow: 2px 2px 8px 2px rgb(31, 31, 31);
    }
    .header a {
        color: #000;
    }
.header span a{
    display: flex;
    align-items: center;
    text-decoration:none;
}
.header .logo{
    max-height: 70px;
    margin-left:45px;
    margin-right:50px;
    margin-top:5px;
}
.header .title-group{
    padding-left: 25px;
    
}
.header .title-group i{
    padding-right: 5px;
}
.icon{
    margin-top:10px;
}