  <mat-card class="card mat-elevation-z5">
      <h1 class="titulo"><i class="material-icons icon_title">
        perm_contact_calendar
    </i>Clayton Prebelli</h1>
      <hr class="linha_tit">
      <section appWhite class="fundo mat-elevation-z5">
  <span class="links"><a href="https://github.com/ClaytonPrebelli" target="_blank" class="links"><h1 class="links"><i class="fab fa-github i"></i> GitHub</h1></a></span>
  <span class="links"><a href="https://www.linkedin.com/in/clayton-prebelli/" target="_blank" class="links"><h1 class="links"><i class="fab fa-linkedin i"></i> LinkedIn</h1></a></span>
  <span class="links"><a href="https://prebelli.online" target="_blank" class="links"><h1 class="links"><i class="links material-icons i">web</i> Página Pessoal</h1></a></span>
  <span class="links"><a href="https://api.whatsapp.com/send?phone=5515981746903&text=Ol%C3%A1%20Clayton.%20Estou%20aqui%20a%20partir%20de%20seu%20projeto%20de%20FrontEnd!" target="_blank" class="links"><h1 class="links"><i class="fab fa-whatsapp-square i"></i> (15) 98174-6903</h1></a></span>
  <span class="links"><a href="mailto:clayton@prebelli.online" target="_blank" class="links"><h1 class="links"><i class="material-icons i">mail</i> clayton@prebelli.online</h1></a></span></section>
</mat-card>
