<mat-card class="card mat-elevation-z5">
    <span class="titulo">
    <h1><i class="material-icons icon_title">
        people
    </i>Colaboradores</h1></span>
    <hr class="mat-elevation-z5">
    <table class="tabela mat-elevation-z5" mat-table *ngIf="colaboradores" [dataSource]='colaboradores'>
        <ng-container matColumnDef="nome" class="nome">
          <th mat-header-cell *matHeaderCellDef class="nome">Nome</th>
          <td mat-cell *matCellDef="let row">{{row.nome}}</td>
        </ng-container>
        <ng-container matColumnDef="cpf" class="cpf">
          <th mat-header-cell *matHeaderCellDef  class="cpf">CPF </th>
          <td mat-cell *matCellDef="let row"  class="cpf">{{ row.cpf | mascara}}</td>
        </ng-container>
        <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef class="cargo">Cargo</th>
          <td mat-cell *matCellDef="let row">{{row.cargo}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef >Ações</th>
          <td mat-cell *matCellDef="let row">
            <a routerLink="/colaboradores/ver/{{row._id}}" class=see>
                <i class="material-icons">visibility</i>
                
              </a>
            <a routerLink="/colaboradores/atualizar/{{row._id}}" class=edit>
              <i class="material-icons">edit</i></a>
            
            <a routerLink="/colaboradores/deletar/{{row._id}}" class="delete">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</mat-card>
